* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    145deg,
    rgb(168, 124, 4),
    rgb(210, 158, 44),
    rgb(213, 166, 23),
    rgb(255, 209, 5),
    orange
  );
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 90%;
  max-width: 500px;
  min-height: 80vh;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  gap: 1rem;
  background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#main-title {
  color: white;
  text-shadow: 0 0 10px rgb(17, 86, 89);
  font-size: 3rem;
}

#message-el {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
}

.general-btn {
  padding: 0.5rem 1rem;
  background-color: #b21f1f;
  color: white;
  border-radius: 0.5rem;
  border: 0.1px solid white;
  margin-bottom: 0.2rem;
}
.start-btn:hover,
.start-btn:focus {
  background-color: #d30e0ed6;
}

@media (min-width: 768px) {
  .container {
    padding: 2.5rem;
    gap: 1.2rem;
  }

  #main-title {
    font-size: 3.5rem;
  }

  #message-el {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .general-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 3rem;
    gap: 1.5rem;
  }

  #main-title {
    font-size: 4rem;
  }
}
